{% extends "helpdesk/public_base.html" %}{% load i18n bootstrap %}
{% block helpdesk_title %}{% trans "Helpdesk PGP Passphrase" %}{% endblock %}

{% block helpdesk_body %}

{% if request.user.is_authenticated %}
    <div class="col-xs-6">
<div class="panel panel-default">

<div class="panel-body"><h2>PGP Passphrase</h2>

    <p>{% trans "Please enter the PGP passphrase below." %}</p>

    {% if next %}
    <form action="./?next={{next}}" method="post" >
    {%else%}
    <form action="./" method="post" >
    {% endif %}
        {% if form.errors %}<p>{% trans "Incorrect passphrase, please try again." %}</p>{% endif %}
        {{ form|bootstrap }}
        <div class='buttons form-group'>
        <input class="btn btn-primary" type='submit' value='{% trans "Enter Passphrase" %}' />
        <div>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}../{% endif %}" />
    {% csrf_token %}</form>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% endblock %}
